<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <title>index page</title>
  </head>
  <body>
    {{>header}}
    <h1>{{name}}</h1>
    <form>
      <input id="address" placeholder="Enter your location">
      <button>Search</button>
    </form>
    <P id="msg-1"></P>
    <p id="msg-2"></p>
    {{>footer}}
     <script src="/script.js"></script>
  </body>
  
</html>